* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #f0f0f0;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.72px;
}

.nav {
  display: flex;
  gap: 48px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.5;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 7px 12px 7px 20px;
  border-radius: 4px;
}

.search-bar input {
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 18px;
  width: 200px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar img {
  width: 24px;
  height: 24px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-icons img {
  cursor: pointer;
}

.cart {
  position: relative;
  width: 32px;
  height: 32px;
}

.cart-img,
.cart-img-1,
.cart-img-2 {
  position: absolute;
}

.cart-img {
  inset: 78.13% 62.5% 15.63% 31.25%;
  width: 6.25px;
  height: 6.25px;
  top: 25px;
  left: 10px;
}
.cart-img-1 {
  width: 22.92px;
  height: 20.25px;
  top: 5px;
  left: 3px;
}

.cart-img-2 {
  width: 19.89px;
  height: 10px;
  top: 6.67px;
  left: 8px;
}
