@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300;400&family=Poppins:wght@400;600&display=swap');

html {
    min-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #8e44ad, #3498db) no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.auth-buttons button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.signup {
    background-color: #9b59b6;
    color: white;
}

.login {
    background-color: white;
    color: #4A4A4A; /* Changed from black to dark gray */
    margin-left: 10px;
}

.hero {
    padding: 20px;
}

.hero h1 {
    font-family: 'Lato', sans-serif;
    font-size: 6em; /* Increased font size */
    margin: 0;
    line-height: 1.2;
    font-weight: 400; /* Thinner font weight */
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.cta-buttons button {
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin: 0 10px;
}

.start-designing {
    background-color: white;
    color: #4A4A4A; /* Changed from black to dark gray */
}

.explore-launches {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid white;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }

    nav li {
        margin: 10px 0;
    }

    .auth-buttons {
        margin-top: 20px;
    }

    .hero h1 {
        font-size: 3em;
    }
}
